.card{
  .card-header {
    min-height: 3.5rem;
    @extend %flex-center;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
  }
}

.reward-view {
  .reward-icon{
    @include size-box(12rem);
    border-radius: 100%;
    background-color: #f5f5f9;
    .fa-trophy {
      font-size: 10rem;
      margin-top: 61px;
    }
  }

}

.card.map {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .country-list {
    grid-column: 3/4;
    height: 380px;
    overflow-y: auto;
    img{
      width: 30px;
    }
  }
}
