header {
  height: 75px;
  box-shadow: 0 10px 10px 20px rgba(176, 184, 214, 0.09), 10px 10px 15px -5px #b0b8d6;
  .dropdown-menu {
    margin-top: 3rem!important;
  }
  .btn-icon {
    color: $primary;
  }
}
